body,
.list-unstyled {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin-bottom: 20px;
}


/* -------------------------------------------- FORMS -------------------------------------------- */

.form-control {
  width: 60%;
}

.btn {
  max-height: 40px;
}

/* -------------------------------------------- FOOTER -------------------------------------------- */

.main-footer {
  color: rgb(255, 255, 255);
  background-color: rgb(205, 197, 197);
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50;
}

.list-unstyled {
  color: black;
}

/* -------------------------------------------- NAVBAR -------------------------------------------- */

.navbar {
  position:relative;
  margin-bottom:-100px;
  z-index: 1;
}

/* -------------------------------------------- CAROUSEL -------------------------------------------- */

.text-on-image {
  font-family: "cursive";
  font-size: 60px;
  font-weight: 400;
  right: 50%;
  left: 50%;
  top: 50%;
  bottom: 50%;
  margin-top: 100px;
  color: white;
}

.carousel .carousel-item {
  height: 530px;
}

.carousel-caption {
  top: 0;
  bottom: auto;
}

/* -------------------------------------------- CARDS -------------------------------------------- */

.card-body {
  font-size: 16px;
}

.card-title {
  font-size: 18px;
}

.card:hover {
  transform: scale(1.03);
}

.font-link {
  font-family: 'Permanent Marker', cursive;
}


/* -------------------------------------------- MAIN PAGE -------------------------------------------- */
.font-link2 {
  font-family: 'Poppins', sans-serif;
}
