body,
.list-unstyled {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin-bottom: 20px;
}


/* -------------------------------------------- FORMS -------------------------------------------- */


.form-control {
  width: 60%;
}

.btn {
  max-height: 40px;
}


/* -------------------------------------------- FOOTER -------------------------------------------- */


.footer {
  color: rgb(255, 255, 255);
  background-color: rgb(205, 197, 197);
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50;
  margin-top: 100;
}

.list-unstyled {
  color: black;
}


/* -------------------------------------------- NAVBAR -------------------------------------------- */


.navbar {
  display: flex;
  height: 80px;
  justify-content: space-between;
  position: relative;
  margin-bottom:-100px;
}

.navbar-toggler {
  color: white;
  background-color: black;
}

.btn-close {
  color:black;
  background-color: white;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.home-btn,
.favorites-btn, 
.modal-login-btn, 
.logout-btn,
.event-btn {
  transition: all 0.5s ease 0s;
  background-color: rgb(232, 230, 230, 0.5)
}

.home-btn:hover, 
.favorites-btn:hover, 
.logout-btn:hover,
.modal-login-btn:hover,
.event-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 5px lightgray;
}

.modal-login {
  align-items: center
}

@media only screen and (max-width : 992px) {
  .home-btn,
  .modal-login-btn,
  .logout-btn,
  .favorites-btn {
    align-items: right;
  }

  .navbar-collapse {
    background: rgba(250, 250, 250, 0.651);
  }
}


/* -------------------------------------------- CARDS -------------------------------------------- */


.card-body {
  font-size: 16px;
}

.card-title {
  font-size: 18px;
}

.card:hover {
  transform: scale(1.03);
}

.card-title {
  font-size: 1.2rem;
  padding-top: 1%;
  margin-top: 6%;
  font-weight: bolder;
}


/* -------------------------------------------- HERO BANNER -------------------------------------------- */


.hero-container {
  background:url('./images/airballoons.jpg');
  background-position: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  /* object-fit: cover; */
  height: 80vh;
  width: 100%;
  position: relative;
  /* display: flex; */
  margin-top: 0;
  overflow: hidden;
}

.hero-header {
  color: white;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  position: absolute;
  display: block;
  margin-top: 15%;
  left:0;
  right:0;
  text-shadow: 3px 3px 3px black, 3px 3px 3px black;
}

.city-search {
  display: block;
  position: relative;
  width: 500px;
  min-width: 40%;
  margin: 400px auto;
}

.city-searchbar {
  font-size: 1.2rem
}

.citysearch-header {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 45%;
}

.activities-image {
  margin-top: 25%;
  align-items: center;
}

@media screen and (max-width:810px) {
  .hero-container {
    height: 60vh;
  }

  .hero-header {
    width: 100%;
    position: absolute;
    display: block;
    right: 0;
    margin-top: 30%;
    font-size: 30px
  }

  .city-search {
    margin-top: 270px;
    position: relative;
    display: block;
    width: 95%;
    left:0;
    right:0;
  }

  .city-searchbar {
    font: .8rem
  }

  .citysearch-header {
    font-size: 1.2rem
  }

  .activities-image {
    margin-top: 25%;
    text-align: center;
  }

}


/* -------------------------------------------- MAIN PAGE -------------------------------------------- */

.activities-image {
  margin-top: 25%;
}

@media screen and (max-width:810px) {
  .activities-image {
    align-items: center;
    position: relative;
  }
}


/* -------------------------------------------- SEARCH BARS -------------------------------------------- */


.cat-search {
  display: flex;
  position: relative;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 2% auto;
}

@media screen and (max-width:525px) {
  .cat-search-modal {
    width: 100%;
    position: absolute;
    display: flex;
    right: 0;
    top: 64px;
  }
}


/* -------------------------------------------- SUGGESTION LIST -------------------------------------------- */


.suggestion-list-header {
  padding-top: 15;
  text-align: center;
  margin-top: 20%;
  font-weight: bolder;
}

@media screen and (max-width:600px) {
  .suggestion-list-header {
    font-size: 1.4rem;
    font-weight: bolder;
  }

  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10%;
  }
}


/* -------------------------------------------- CATEGORY LIST -------------------------------------------- */


.cat-list-header {
  font-weight: bolder;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 200px;
}

@media screen and (max-width:991px) {
  .cat-list-header {
    font-size: 1.4rem;
    font-weight: bolder;
    margin-top: 160px;
    margin-bottom: 100px;
    text-align: center;
  }
}


/* -------------------------------------------- CITY LIST -------------------------------------------- */


.city-list-header {
  font-weight: bolder;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 200px;
}

@media screen and (max-width:991px) {
  .city-list-header {
    font-size: 1.4rem;
    font-weight: bolder;
    margin-top: 160px;
  }
}


/* -------------------------------------------- EVENT CARD -------------------------------------------- */

.event-card {
  flex-direction: row;
}
.event-card-title {
  font-weight: bold;
}
.event-card-img {
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}

@media only screen and (max-width: 768px) {
  a {
    display: none;
  }
  .event-card-body {
    padding: 0.5em 1.2em;
  }
  .event-card-body .card-text {
    margin: 0;
  }
  .event-card-img {
    width: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  .card img {
    width: 40%;
  }
}